.header {
    background-color: #6a6c76;
    color: white;
    height: 15vh !important;
    padding: 21px !important;
}

.not-started-bg {
    background-color: #6a6c76;
    color: white;
}

.start-button {
    background-color: white; 
    color: green; 
    border-top-left-radius: 0; 
}

.stop-button {
    background-color: white;
    color: red; 
    border-top-right-radius: 0;
}

.start-bg {
    background-color: green; 
}
.green-bg{
    background-color: #1f4f1f;
}

.red-bg{
    background-color: #dc2323;
}

.stop-bg {
background-color: red; 
}

.start-bg,
.stop-bg {
    transition: background-color 0.8s ease; 
}

.green-border {
    border: 3px solid rgb(23 157 41);
    // box-shadow: inset 0 0 0 2px rgb(23 157 41);
}

.task-counter {
    color: #12ff8f;
}