<!-- <div class="container center-container">
  
    <div class="row mt-5 box-container">
      <div
        [ngClass]="{
          'box-container': true,
          'small': clusters.length <= 3,
          'medium': clusters.length > 3 && clusters.length <= 6,
          'large': clusters.length > 6
        }"
      >
        <ng-container *ngFor="let cluster of clusters; let i = index">
          <div class="col" [ngStyle]="{'flex-basis': calculateCardWidth()}">
            <div class="card m-3 with-shadow rounded">
              <app-button-list [buttonContent]="cluster"></app-button-list>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
   -->

   <div class="container center-container">
    <div class="row mt-5 box-container">
      <div
        [ngClass]="{
          'box-container': true,
          'small': clusters.length <= 3,
          'medium': clusters.length > 3 && clusters.length <= 6,
          'large': clusters.length > 6
        }"
      >
        <ng-container *ngFor="let cluster of clusters; let i = index">
          <div class="col" [ngStyle]="{'flex-basis': calculateCardWidth()}">
            <div
              class="card m-3 with-shadow rounded"
              [ngClass]="{
                'green-card': cluster.status === 'ACTIVE',
                'red-card': cluster.status !== 'ACTIVE'
              }"
            >
              <app-button-list [buttonContent]="cluster.name" [cluster]="cluster"></app-button-list>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  